// font family
$global: 'Arial';

// colors
$primary: #d9d9d9;
$secondary: #484848;
$black: #000;
$white: #fff;
$primary-btn: #007bff;
$primary-btn-hover: #0069d9;
$secondary-btn: #6c757d;
$secondary-btn-hover: #5a6268;
$success-btn: #28a745;
$success-btn-hover: #218838;
$danger-btn: #dc3545;
$danger-btn-hover: #c82333;
$warning-btn: #ffc107;
$warning-btn-hover:#e0a800;
$dark-btn: #343a40;
$dark-btn-hover: #1d2124;

// font sizes
$font40: 40px;
$font35: 35px;
$font30: 30px;
$font25: 25px;
$font20: 20px;
$font16: 16px;
$font15: 15px;

// line height
$line50: 50px;
$line45: 45px;
$line40: 40px;
$line35: 35px;
$line30: 30px;
$line25: 25px;