@import 'variable';
@import 'mixins';

.input{
    @include box-with-radius($white, $black);
    padding: 10px 20px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid $primary-gray;
    &::placeholder{
        color: $secondary;        
    }
}